<section class="p-1 p-md-4 p-xl-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6 col-xxl-5">
                <div class="card border-2 shadow-sm rounded-4">
                    <div class="card-body p-1 p-md-4 p-xl-5">
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <h3>Sign Up</h3>
                                </div>
                            </div>
                        </div>
                        <form (ngSubmit)="signUp()">
                            <div class="row gy-1 overflow-hidden">
                                <div class="col-12">
                                    <div class="form-floating mb-1">
                                        <input type="email" class="form-control" name="email" id="email"
                                            [(ngModel)]="email" placeholder="name@example.com" required>
                                        <label for="password" class="form-label">Email</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-floating mb-1">
                                        <input type="password" class="form-control" name="password" id="password"
                                            [(ngModel)]="password" placeholder="**********" required>
                                        <label for="password" class="form-label">Password</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-floating mb-1">
                                        <input type="password" class="form-control" name="confirmPassword" id="confirmPassword"
                                            [(ngModel)]="confirmPassword" placeholder="confirmPassword" required>
                                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                                    </div>
                                </div>
                                <div class="col-12 mt-5">
                                    <div class="d-grid">
                                        <button class="btn bsb-btn-2xl btn-primary" type="submit">Register</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <p *ngIf="errorMessages">{{errorMessages}}</p>
                        <div class="row">
                            <div class="col-12">
                                <hr class="mt-2 mb-4 border-secondary-subtle">
                                <div class="d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-md-end">
                                    <!-- <a href="#!" class="link-secondary text-decoration-none">Login</a> -->
                                    <a routerLink="/" class="link-secondary text-decoration-none">Already have an account</a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>